<% if job['description'] && job['description'] != "" %>
<!--<section class="description">i -->
<!--  <h2>Description</h2> -->
<!--  <p><#%= job['description'] %></p> -->
<!-- </section> -->
<% end %>
